<mz-card>
  <mz-card-content>
    <i mz-icon-mdi
       class="hide-card-btn pointer"
       [icon]="'close'"
       [size]="'small'"
       (click)="sendHideCardEvent()">
    </i>
    <div class="row video-row no-margin-bottom">

      <div class="col thumbnail-container">
        <img class="pointer thumbnail z-depth-1" alt="Video thumbnail"
             (click)="openVideoInBrowser()" [src]="videoInfo.thumbnail_url"/>

        <mz-progress *ngIf="downloadStarted"
                     [percentage]="percentDownloaded"
                     [backgroundClass]="downloaded ? 'green video-download-progress' : 'red lighten-4 video-download-progress'"
                     [progressClass]="downloaded ? 'green' : 'red'">
        </mz-progress>

      </div>

      <div class="col s8 video-info">
        <p class="truncate">
          <strong>
            <span [title]="videoInfo.title" class="pointer" (click)="openVideoInBrowser()">
              {{videoInfo.title}}
            </span>
          </strong>
        </p>

        <p class="grey-text text-darken-1">
          <span class="pointer" (click)="openChannelInBrowser()">
            {{videoInfo.author.name}}
          </span>
        </p>

        <p class="grey-text text-darken-1">
          <span>
            {{videoLength}}
          </span>
        </p>

      </div>

    </div>

    <div class="row no-margin-bottom">
      <div class="col s12">

        <div class="col s2 push-s4">
          <mz-select-container class="no-margin">
            <select [disabled]="hasDownloadStarted" [(ngModel)]="chosenFormat" class="no-margin" mz-select
                    id="option-groups-select">
              <optgroup label="Video">
                <option value=".mp4">.mp4</option>
                <option value=".mov">.mov</option>
              </optgroup>
              <optgroup label="Audio">
                <option value=".mp3">.mp3</option>
              </optgroup>
            </select>
          </mz-select-container>
        </div>

        <div class="col s6 push-s3 offset-s1">
          <button mz-button [disabled]="hasDownloadStarted" (click)="outputDownloadVideoEvent()" class="right">
            download
            <i mz-icon-mdi [icon]="'download'" [align]="'right'"></i>
          </button>
        </div>

      </div>
    </div>

  </mz-card-content>
</mz-card>
