.thumbnail {
  height: 90px;
  width: 120px;
}

.thumbnail-container {
  padding-left: 0;
}

.video-info {
  width: 70% !important;
  padding-right: 0;
}

.video-row {
  height: 90px;
}

.hide-card-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}


