@import '~materialize-css/sass/components/color';

$roboto-font-path: "../node_modules/materialize-css/dist/fonts/roboto/" !default;

$primary-color: color("red", "accent-4");
$secondary-color: color("light-blue", "accent-4");

.center-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.select-dropdown {
  margin: 0 !important;
}

.no-margin > div.input-field {
  margin: -7px !important;
}

.pointer {
  cursor: pointer;
}

.video-download-progress {
  margin: -10px 0 0 0 !important;
  border-radius: 0 !important;
}

body {
  background-color: #FAFAFA !important;
}

@import '~materialize-css/sass/materialize';
@import '~materialize-css/sass/components/variables';
